<div class="show">
{{inputShow}}
</div>
<div class="act">
  <button (click)="inputFunction($event)" value="+">+</button>
  <button (click)="inputFunction($event)" value="-">-</button>
  <button (click)="inputFunction($event)" value="*">x</button>
  <button (click)="inputFunction($event)" value="/">/</button>
  <button (click)="total()">=</button>
  <button (click)="clear()">AC</button>
</div>
<div class="buton">
  <button (click)="inputFunction($event)" value="1">1</button>
  <button (click)="inputFunction($event)" value="2">2</button>
  <button (click)="inputFunction($event)" value="3">3</button>
  <button (click)="inputFunction($event)" value="4">4</button>
  <button (click)="inputFunction($event)" value="5">5</button>
  <button (click)="inputFunction($event)" value="6">6</button>
  <button (click)="inputFunction($event)" value="7">7</button>
  <button (click)="inputFunction($event)" value="8">8</button>
  <button (click)="inputFunction($event)" value="9">9</button>
  <button (click)="inputFunction($event)" value="10">10</button>
</div>

